<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Admin Panel</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/admin/view_Doctor">Doctors Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/view_Receptionist">Receptionist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/view_Patient">Patient Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/view_Booked">Booked slot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/view_Available">Available slot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
     

    </ul>
  </nav>