<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>

	
    <a href="/">Home</a>
	<form method="post">
		usertype:<select name="usertype">
			<option value="Admin">Admin</option>
			<option value="Doctor">Doctor</option>
			<option value="House Provider">House Provider</option>
			<option value="Patient">Patient</option>
			</select><br>
			
				<input type="text" name="username" required><br>
				
			
			
				<input type="password" name="password" required><br>
				
		
					<input type="Submit" name="" value="Submit"><br>
				
			
	</form>
	<a href="/signup">Dont have account? clcik to create account</a>
</body>
</html>