<!DOCTYPE html>
<html>
<head>
	<title>Booking flat</title>
</head>
<body>
	<div>
			<h2>Booking flat</h2> 		
	</div>

	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br>

	<table border="1">
		<tr>
		
	
			<td>Area</td>
			<td>Area Code</td>
			<td>Size</td>
			<td>Book</td>
		</tr>
		
		<tr>
			<td>bashundhara R/A</td>
			<td>1201</td>
			
			<td>1100sqft</td>
			<td><a href="/book">book</a></td>
		</tr>
		
		<tr>
			<td>Nikunja</td>
			<td>1204</td>
			<td>1350sqft</td>
			<td><a href="/book">book</a></td>
		</tr>
		
		
		
		
	</table>
	
	