<!DOCTYPE html>
<html>
<head>
	<title>Contact Info</title>
</head>
<body>
	<div>
			<h2>Contact info</h2> 		
	</div>

	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Manager</td>
			<td>Area</td>
			<td>Area Code</td>
			<td>Email ID</td>
			
		</tr>
		
		<tr>
			<td>1</td>
			<td>Raju</td>
			<td>Bashundhara R/A</td>
			<td>1200</td>
			<td>Raju@gmail.com</td>
			
		</tr>
		
		<tr>
			<td>2</td>
			<td>Musa</td>
			<td>Nikunjo</td>
			<td>1201</td>
			<td>musa@gmail.com</td>
			
		</tr>
		
		
		
		
	</table>
	
	
	
	
	
	
	
	
	
	
<table border="1">
<tr>
           <td>ID</td>
			<td>House provider</td>
			<td>Location</td>
			<td>Email</td>
			
			</tr>
			
			<tr>
			<td>1</td>
			<td>Rashed</td>
			<td>Bashundhara R/A</td>
			<td>rashed@gmail.com</td>
		
			
		</tr>
		<tr>
			<td>2</td>
			<td>Karim</td>
			<td>Nikunjo</td>
			<td>karim@gmail.com</td>
		
		</tr>
		

</body>
</html>