<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Welcome home, <%= username%></h2> 		
	</div>


	<a href="/profile">edit profile</a><br>
	<a href="/view_Managers">Managers</a><br>
	<a href="/view_Receptionist">Owners</a><br>
	<a href="/view_Rented">Rented Apartments</a><br>
	<a href="/view_Available">Available Apartments</a><br>
	<a href="/Search">Search Apartments</a><br>
	<a href="/contact">contact</a><br>
	<a href="/booking">booking</a><br>
	
	<a href="/logout">Logout</a><br>
</body>
</html>