<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>
<body>
	<h2>Search </h2>
	
	<a href="/home">Home</a>|
	<a href="/logout">Logout</a><br>

	<form method="post">
		Area :<input type="text" name="">Area<br><br>
		Price Range  : <input type="text" name="email"> to <input type="text" name="email"><br><br>
		Size  : <input type="text" name="">Area<br><br>
		
		<input type="Submit" name="" value="Search"> <br>
		
	</form>
</body>
</html>