<!DOCTYPE html>
<html>
<head>
	<title>Managers</title>
</head>
<body>
	<div>
			<h2>Managers</h2> 		
	</div>

	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>USERNAME</td>
			<td>Area</td>
			<td>Area Code</td>
		</tr>
		
		<tr>
			<td>1</td>
			<td>Musaddiq</td>
			<td>Bashundhara R/A</td>
			<td>1200</td>
		</tr>
		
		<tr>
			<td>2</td>
			<td>Musa</td>
			<td>Nikunjo</td>
			<td>1201</td>
		</tr>
		
		
		
		
	</table>

</body>
</html>